In [42]:
from cmath import sqrt
import numpy as np
from prettytable import PrettyTable 

tolerance = 10
dif = 10
iteration = 0

line = list([])
cap_log = list([])
delay_log = list([])
path_to_file =r"C:\Users\Asus\Desktop\devoir1_entrees.txt"
with open(path_to_file) as f:
    lines = f.readlines()
for element in lines:
    line.append(element.split())
line.pop(0) # removing the table headers
print("data sets:", line)

data sets: [['SF', 'LA', '3', '700'], ['SF', 'NY', '1', '1600'], ['LA', 'NY', '6', '1500'], ['LA', 'DAL', '2', '1100'], ['NY', 'PHI', '4', '500'], ['PHI', 'DAL', '5', '1300']]

In [43]:
flow = list([])
k = list([])
for i in line:
    flow.append(i[2])
    k.append(i[3])
K = 30000
delay = 10
p = 0.5
flow = np.array(flow, dtype='float64')
c = np.array([1.6,1.6,1.6,1.6,1.6,1.6])
k = [float(i) for i in k]
k

[700.0, 1600.0, 1500.0, 1100.0, 500.0, 1300.0]

In [44]:
while tolerance > 10e-6:
    iteration+=1
    kprime =np.array(k*c**(p-1)*p)
    Kprime = K - sum((k*(c**p))*(1-p) + k)
    cout_per_lien = k*(c**p) + k
    f_over_k = flow/kprime
    sqr = [sqrt(i) for i in f_over_k]
    sqr = np.array(sqr)
    sqr = sqr.real
    scalar = (Kprime - sum(flow*kprime))/sum(kprime*sqr)*sqr
    c_next = scalar + flow
    c = c_next
    new_delay = (flow/(c_next-flow)) / sum(flow) #reconsider how you calculate the delay!
    nd = sum(new_delay)
    tolerance = delay - nd # to stop when the algorithm isn't progressing anymore
    delay = nd.real
    c = c_next
    cap_log.append(c)
    delay_log.append(delay)
print('\nfinal delay : ', delay)
print("iteration : ", iteration)
delay_log = [format(float(i),'.4f') for i in delay_log]
cap_log = [[i[0] for i in cap_log], [i[1] for i in cap_log], [i[2] for i in cap_log], [i[3] for i in cap_log], [i[4] for i in cap_log], [i[5] for i in cap_log]]
cap_log_real=list([])
for element in cap_log:
    element = [i.real for  i in element]
    element = [format(float(i),'.4f') for i in element]
    cap_log_real.append(element)

final delay :  0.0952300587928227
iteration :  5

In [45]:
head = [ i for i in range(1,iteration+1)]

In [46]:
import pandas as pd

In [47]:
part1 = [i[0] for i in line]
part2 = [i[1] for i in line]
s = pd.DataFrame(cap_log_real, index=[part1, part2], columns = [head, delay_log])

In [57]:
s

               1        2        3        4        5
          0.2389   0.1043   0.0954   0.0952   0.0952
SF  LA    7.6046  13.6165  14.8070  14.8798  14.8907
    NY    2.7584   4.1463   4.3494   4.3399   4.3370
LA  NY   10.4485  17.1043  18.0759  18.0638  18.0581
    DAL   4.9992   8.2265   8.7801   8.7901   8.7899
NY  PHI  10.2911  19.6445  21.6794  21.8541  21.8844
PHI DAL   9.3621  15.5939  16.5709  16.5752  16.5725

In [58]:
print('The following data frame represents progerssion of capacities for each line in each iteration. \nIt also shows overal delay for each iteration')

The following data frame represents progerssion of capacities for each line in each iteration.
It also shows overal delay for each iteration

In [50]:
c = [ i.real for i in c]
new_delay = [ i.real for i in new_delay]
temp_row = list([])
rows = list([])
data = list([])
for i in range(0,iteration+1): # check to see whats wrong with the loop
    data.clear()
    temp_row.clear()
    for j in range (0,4):
        temp = line[i]
        data.append(temp[j])
    for k in data:
        rows.append(k)
    temp_row.append(c[i])
    temp_row.append(flow[i]/c[i])
    temp_row.append(new_delay[i])
    temp_row.append(cout_per_lien[i])
    for i in temp_row:
        rows.append(i)

In [51]:
dataset = list([])
temp2 = list([])
upper_lim = int(len(rows)/len(line))
data_set = [ rows[i*upper_lim:(i+1)*upper_lim] for i in range(len(rows) // upper_lim)]

In [52]:
s1 = pd.DataFrame(data_set,
                  columns = ['line1', 'line2', 'flow', 'unit cost', 'capacity', 'utilization','delay', 'cost'])
s1['index'] = ''
s1.set_index('index', inplace=True)
s1.index = s1.index.rename(None)

In [53]:
s1

 line1 line2 flow unit cost   capacity  utilization     delay         cost
    SF    LA    3       700  14.890719     0.201468  0.012014  3400.204633
    SF    NY    1      1600   4.337000     0.230574  0.014270  4933.173494
    LA    NY    6      1500  18.058123     0.332260  0.023695  7875.237143
    LA   DAL    2      1100   8.789908     0.227534  0.014026  4361.285217
    NY   PHI    4       500  21.884440     0.182778  0.010650  2837.417699
   PHI   DAL    5      1300  16.572455     0.301705  0.020574  6592.651949

In [54]:
print('Total capacity:', sum(c), '\n Tota cost:', sum(cout_per_lien))

Total capacity: 84.53264436693809
 Tota cost: 29999.97013532381